parameters:
    paths:
        - config
        - src
    excludePaths:
        - ./vendor
    # The level 8 is the highest level
    level: 3
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Function (config|config_path) not found.#'
